<div class="container-fluid slidebar">
  <div class="row flex-nowrap ">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-3  min-vh-100">
              <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto  text-decoration-none link-light">
                  <span class="fs-5 d-none d-sm-inline">Menu</span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start " id="menu">
                  <li class="nav-item">
                      <a routerLink="../dashboard"  routerLinkActive="text-danger" class="nav-link align-middle px-0 ">
                        <i class="fa-solid fa-house"></i> <span class="ms-1 d-none d-sm-inline" routerLinkActive="text-danger" >Home</span>
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link align-middle px-0 " routerLink="../add-product" routerLinkActive="text-danger ">
                      <i class="fa-solid fa-add"></i>  <span class="ms-1 d-none d-sm-inline " routerLinkActive="text-danger ">Add Product</span>
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link align-middle px-0  " routerLink="../allusers" routerLinkActive="text-danger">
                    <i class="fa-solid fa-table"></i>  <span class="ms-1 d-none d-sm-inline" routerLinkActive="text-danger">All Users</span>
                  </a>
              </li>

                  <li>
                      <a  routerLink="../orders" class="nav-link px-0" routerLinkActive="text-danger">
                        <i class="fa-solid fa-cart-shopping"></i> <span class="ms-1 d-none d-sm-inline" routerLinkActive="text-danger">Orders</span></a>
                  </li>

              </ul>
              <hr>

          </div>
      </div>
      <div class="col py-3">
            <!-- Start Add Product  -->

<div class="container">

  <form class="my-5" #uploadImg="ngForm" (ngSubmit)="handleSubmit()">

    <div class="mb-4">
      <input type="text" class="form-control"  placeholder="Enter product Title" name="productTitle"
      [(ngModel)] ="modal.productTitle">
    </div>

    <div class="mb-4">
      <input type="text" class="form-control"  placeholder="Enter product Description" name="productdesc"
      [(ngModel)] ="modal.productdesc">
    </div>

    <div class="mb-4">
      <input type="number" class="form-control"  placeholder="Enter product price" name="productPrice"
      [(ngModel)] ="modal.productPrice">
    </div>


    <div class="mb-4">
      <label for="img" class="form-label">Product Image</label>
      <input class="form-control" type="file" (change)="handleImg($event)">

    </div>



  <div class="mb-4">
      <button class="btn btn-primary">Add Product</button>
  </div>


  </form>




</div>
            <!-- End Add Product    -->
      </div>
  </div>
</div>
